
.env
.settings
.vs
.vscode

Payment.Infraesrtucture/bin
Payment.Infraesrtucture/obj
Payment.Infraesrtucture/.vscode
Payment.Infraesrtucture/.vs

Payment.Domain/bin
Payment.Domain/obj
Payment.Domain/.vscode
Payment.Domain/.vs

Payment.Core/bin
Payment.Core/obj
Payment.Core/.vscode
Payment.Core/.vs

Payment.Api/bin
Payment.Api/obj
Payment.Api/.vscode
Payment.Api/.vs